.container {
  border: 1px solid red;
  height: 100%;
  width: 100%;

  .container__img-slide {
    width: 100%;
    height: 33%;
  }

  .carrousel__products {
    width: 100%;
    height: 66%;

    .carrousel__products {
      ion-slides.horizontal-slides {
        overflow: visible;
      }
    
      ion-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .product-card {
        width: 130px;
        text-align: center;
      }
    
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
    
    
  }
}
